.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    flex-direction: column;
}

.featureSvg {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .featureSvg {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1000px) {
    .features {
        flex-direction: row;
    }

    .featureSvg {
        width: 320px;
        height: 180px;
    }
}

.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.layout {
    display: flex;
    align-items: center;
    flex-direction: column;
}
