/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*body {*/
/*    background: radial-gradient(200% 10% at bottom center, #DE8887, #bebebe 40%, #242f4e);*/
/*    background: radial-gradient(220% 105% at bottom center, #DE8887, #bebebe 40%, #242f4e);*/
/*    background-attachment: fixed;*/
/*    overflow: hidden;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*}*/

/*@keyframes rotate {*/
/*    0% {*/
/*        transform: perspective(400px) rotateZ(200deg) rotateX(-40deg) rotateY(0);*/
/*    }*/
/*    100% {*/
/*        transform: perspective(400px) rotateZ(200deg) rotateX(-40deg) rotateY(360deg);*/
/*    }*/
/*}*/

#stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    perspective-origin: 50% 100%;
    left: 50%;
    right: 20%;
    animation: rotate 90s infinite linear;
    top: 0;
}

/*.star {*/
/*    width: 4px;*/
/*    height: 4px;*/
/*    border-radius: 5px;*/
/*    background-color: whitesmoke;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    backface-visibility: hidden;*/
/*}*/

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.starrySky {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.shootingStar {
    position: absolute;
    background: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 15px #fff, 0 0 5px #fff;
    transform: translate3d(0, 0, 0);
    animation: shootingStar 1s ease-out;
}

@keyframes shootingStar {
    0% {
        transform: translate3d(0, 0, 0) scale(0);
    }
    50% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(0);
    }
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*.light {*/
/*    background: radial-gradient(220% 105% at bottom center, #abb5e7, #a8e2f5 40%, #f3f2f2);*/
/*}*/
/*[data-theme='dark'] .light {*/
/*    background-color: #1b1b1d;*/
/*}*/

